:root {
  --blue: #437ef7;
  --shape: #f8f9fb;
  --blue-shape: #2b63d9;
  --title: #272d37;
  --sky-blue: #f5faff;
}

a {
  text-decoration: none;
}

.margin {
  margin-top: 35px;
}

* {
  font-family: "Fira Sans", sans-serif;
}

.hero {
  height: 845;
  background-color: var(--shape);
}

.nav-item {
  font-size: 15px;
  margin-right: 32px;
  color: #272d37;
  font-weight: 600;
}

.blue-font {
  color: var(--blue);
}

.btn-white {
  background-color: #fff;
  border-color: #dae0e6;
  color: #575757;
}

.btn-white:hover {
  background-color: #fff;
  border-color: var(--blue);
  color: #000;
}

.font-title {
  font-weight: 600;
  font-size: 50px;
}
.font-p {
  color: #5f6d7e;
  font-size: 18px;
  margin-top: 24px;
}

.card-title {
  font-weight: 600;
}

.card-text {
  color: #5f6d7e;
}

.img-size {
  background-size: cover;
  overflow: hidden;
}

.hero-2 {
  background-color: var(--blue);
  height: auto;
}

.person-img {
  margin-top: -25px;
  margin-right: 30px;
  width: 80px;
}

.min-margin {
  margin-left: -20px;
}
@media (max-width: 990px) {
  .btn-sm {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0 10px 0;
  }

  .center {
    text-align: center;
  }

  .font-title {
    font-size: 32px;
  }

  .margin {
    margin-top: 0 !important;
  }

  .person-img {
    margin-top: -35px;
    margin-right: 30px;
    width: 80px;
  }
}

@media (max-width: 780px) {
  .margin-footer {
    margin-top: 30px;
  }
  .display-center {
    display: flex;
    justify-content: center;
  }
  .center {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
